.pi-button {
	letter-spacing: 1px;
	font-size: 12px;
	display: inline-block;
	position: relative;
	border-radius: 2px;
	overflow: hidden;
	-webkit-transition: 0.1s ease-out;
	transition: 0.1s ease-out;
	font-family: sans-serif;
	cursor:pointer;
	border: none;
	padding: 6px 10px 6px 10px;
	margin: 5px;
	background-color: transparent;
	text-align: center;
	color: #444;
}

.pi-button:focus {
	outline: none;
}

.pi-button:hover {
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.22), 0 4px 4px 0 rgba(0, 0, 0, 0.35);

	color: #222;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.6);
}

.pi-button:active {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.44), 0 1px 1px 0 rgba(0, 0, 0, 0.68);
}


.pi-button:focus::before {
	display: block;
	height: 150px;
	width: 150px;
	top: -62px;
	left: -60px;
	opacity: 0;
	content: "";
	background: #AAA;
	border-radius: 1000px;
	position: absolute;
	animation-name: fade;
	animation-timing-function: ease-out;
    animation-duration: 2s;
	z-index: -2;
}

@keyframes fade {
	0% {opacity: 1; transform: scale(0);}
	50% {opacity: 1; transform: scale(1);}
    100% {opacity: 0;}
}


.with-shadow {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35), 0 1px 1px 0 rgba(0, 0, 0, 0.59);
	background-color: rgba(255, 255, 255, 0.3);
}

.vezinput {
	border: none;
	width: 100px;
	color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	padding: 5px;
	margin: 5px;
	background-color: transparent;
	-webkit-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
	font-family: sans-serif;
}

.vezinput:focus {
	outline: none;
    box-shadow: 0px -1px 0px rgba(0, 200, 83, 0.7) inset;
	border-bottom: 1px solid rgba(0, 200, 83, 0.7);
}

.vezinput::-webkit-input-placeholder {
   color: rgba(0, 200, 83, 0.7);
   font-family: sans-serif;
   position: relative;
}

.vezinput:focus::-webkit-input-placeholder {
   font-family: sans-serif;
   top: -15px;
   font-size: 10px;
   -webkit-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
}

.vezinput:-moz-placeholder { /* Firefox 18- */
   color: rgba(0, 200, 83, 0.7);
   font-family: sans-serif;
}

.vezinput::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0, 200, 83, 0.7);
   font-family: sans-serif;
}

.vezinput:-ms-input-placeholder {  
   color: rgba(0, 200, 83, 0.7);
   font-family: sans-serif;
}